// colors
$primary: #3f72af;
$primary-hover: #4e7db6;
$ghost: #dbe2ef;
$white: #fff;
$black: #3b434e;
$gray-light: #ebebeb;
$gray: #a4a4a4;
$gray-dark: #6c7077;
$red: #ff3333;

// fonts
$noto-serif: 'Noto Serif', serif;
$roboto: 'Roboto', sans-serif;
